body {
	font-family: Arial, Helvetica, sans-serif;
}

h2 a {
	text-decoration: none;
}

code {
	padding: 0 3px;
	background-color: #eaeaea;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.graph {
	width: 410px;
	border: 1px solid #ccc;
}

.graph_head {
	padding: 0 10px;
}

.graph_head h3 {
	font-size: 13px;
	color: #618de2;
}

.graph_info {
	margin: 0;
	padding: 0;
	font-size: 13px;
	list-style: none;
	overflow: hidden;
}

.graph_info li {
	float: left;
	margin-right: 20px;
}

.graph_info li:before {
	content: '';
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	vertical-align: top;
}

.graph_info li.__expense:before {
	background-color: #e53e2d;
}

.graph_info li.__income:before {
	background-color: #84be46;
}

.graph_nav {
	list-style: none;
	margin: 0 10px 10px;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.graph_nav_item.__prev,
.graph_nav_item.__next {
	position: relative;
	width: 40px;
	height: 50px;
	cursor: pointer;
}

.graph_nav_item.__prev:hover,
.graph_nav_item.__next:hover {
	background-color: #e9e9e9;
}

.graph_nav_item.__prev:after,
.graph_nav_item.__next:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	border: 1px solid #ccc;
	transform: rotate(45deg);
}

.graph_nav_item.__prev {
	float: left;
	border-right: 1px solid #ccc;
}

.graph_nav_item.__prev:after {
	margin-left: -3px;
	border-width: 0 0 1px 1px;
}

.graph_nav_item.__next {
	float: right;
	border-left: 1px solid #ccc;
}

.graph_nav_item.__next:after {
	margin-left: -8px;
	border-width: 1px 1px 0 0;
}

.graph_nav_item.__label {
	overflow: hidden;
	text-align: center;
}

.graph_nav_item.__label dl,
.graph_nav_item.__label dd {
	margin: 0;
}

.graph_nav_item.__label dl {
	padding-top: 6px;
}

.graph_nav_item.__label dt {
	margin-bottom: 6px;
	font-size: 13px;
	color: #333;
}

.graph_nav_item.__label dd {
	font-size: 14px;
	color: #ccc;
}

.ct-chart {
	margin: 0;
	width: 100%;
	height: 250px;
}

.ct-grid {
	stroke: #e9e9e9;
	stroke-dasharray: none;
}

.ct-bar {
	stroke-width: 15px;
}

.ct-series-a .ct-bar {
	stroke: #e53e2d;
}

.ct-series-b .ct-bar {
	stroke: #84be46;
}